@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url(../img/background_topo.jpg);
    background-size: 100%;
    font-family: Poppins, sans-serif;
}

/* Construção index.html */

header nav {
    background-color: white;
    text-align: center;
    padding: 20px;
}

header nav ul li {
    display: inline-block;
    margin: 0px 35px;
}

header a:link, a:visited {
    color: darkgrey;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.5s;
    padding: 10px 30px;
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: -1px 7px;
}

header a:hover {
    color: rgb(43, 43, 43);
}

.navHome:link, .navHome:visited {
    background-image: url(../img/home.png);
}

.navHome:hover {
    color: #0070CC;
    background-image: url(../img/home_hover.png);
}

.navJogos:link, .navJogos:visited {
    background-image: url(../img/controle.png);
}

.navJogos:hover {
    color: #EA3323;
    background-image: url(../img/controle_hover.png);
}

.navLoja:link, .navLoja:visited {
    background-image: url(../img/shop.png);
}

.navLoja:hover {
    color: #E3B34C;
    background-image: url(../img/shop_hover.png);
}

header img {
    display: flex;
    margin: auto;
}

.introducao {
    background-color: white;
    text-align: center;
}

.introducao h1 {
    font-size: 40px;
}

.container {
    display: flex;
    flex-direction: row;
}

.introducao > .container {
    justify-content: center;
}

.introducao > .container > div {
    border: 1.5px solid black;
    border-radius: 10px;
    width: 300px;
    margin: 30px 10px;
    padding: 20px;
    padding-top: 160px;
    background-repeat: no-repeat;
    background-position: center 30px;
    transition: all 0.5s;
}

.introducao > .container > div > p {
    margin: 30px 0px;
    font-size: 20px;
}

.xbox {
    background-image: url(../img/xbox_preto.png);
    background-size: 130px;
}

.xbox:hover {
    background-image: url(../img/xbox_branco.png);
    background-color: #077D07;
    color: white;
    transform: scale(105%);
    cursor: pointer;
}

.playstation {
    background-image: url(../img/playstation_preto.png);
    background-size: 150px;
}

.playstation:hover {
    background-image: url(../img/playstation_branco.png);
    background-color: #0071D2;
    color: white;
    transform: scale(105%);
    cursor: pointer;
}

.consoles {
    background-color: white;
    padding: 20px;
    margin: 15px 0px;
}

.consoles > .container {
    width: 1100px;
    margin: 30px auto;
}

.consoles > h2 {
    text-align: center;
    font-size: 30px;
    margin: 15px;
}

.consoles > .container > div > h3 {
    font-size: 25px;
    margin: 12px 0px;
}

.consoles > .container > div > p {
    text-align: justify;
}

.acessorios {
    background-color: white;
    padding: 20px;
    margin: 15px 0px;
    margin-bottom: 0px;
}

.acessorios > .container {
    width: 1100px;
    margin: 30px auto;
}

.acessorios > h2 {
    text-align: center;
    font-size: 30px;
    margin: 15px;
}

.acessorios > .container {
    justify-content: center;
    flex-wrap: wrap;
}

.acessorios > .container > div {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    padding-top: 200px;
    margin: 15px;
    width: 33.3%;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center 10px;
    transition: all 0.5s;
}

.vr {
    background-image: url(../img/playstation_vr2.png);
    background-size: 80%;
}

.vr:hover {
    transform: scale(105%);
    cursor: pointer;
    box-shadow: 10px 10px #DE9AA9;
}

.dualsense {
    background-image: url(../img/playstation_dualsense.png);
    background-size: 80%;
}

.dualsense:hover {
    transform: scale(105%);
    cursor: pointer;
    box-shadow: 10px 10px #C680C9;
}

.controleXbox {
    background-image: url(../img/xbox_controle.jpg);
    background-size: 60%;
}

.controleXbox:hover {
    transform: scale(105%);
    cursor: pointer;
    box-shadow: 10px 10px #AF4FCC;
}

.pulse {
    background-image: url(../img/playstation_headset.png);
    background-size: 50%;
}

.pulse:hover {
    transform: scale(105%);
    cursor: pointer;
    box-shadow: 10px 10px #862EC2;
}

.expansivel {
    background-image: url(../img/xbox_cartao.jpg);
    background-size: 80%;
}

.expansivel:hover {
    transform: scale(105%);
    cursor: pointer;
    box-shadow: 10px 10px #4E0CA1;
}

footer {
    background-image: url(../img/background_topo.jpg);
    background-repeat: no-repeat;
    padding: 30px;
}

footer > .container {
    justify-content: center;
}

footer > .container > div {
    margin: 0px 20px;
    transition: all 0.5s;
}

footer > .container > div:hover {
    transform: scale(110%);
    cursor: pointer;
}

/*Contrução jogos.html*/

.introducaoJogos {
    background-color: white;
    text-align: center;
    padding: 30px;
}

.introducaoJogos h1 {
    font-size: 40px;
}

.rdr2 {
    background-color: white;
    margin-bottom: 15px;
    padding: 20px;
}

.rdr2 > .container {
    width: 1100px;
    margin: auto;
}

.rdr2 > .container > div {
    margin: 10px 20px;
    text-align: justify;
    align-content: center;
}

.rdr2 > .container > div > img {
    margin-bottom: 10px;
}

.rdr2 > .container > div > p {
    margin: 10px 0px;
}

.tlou2 {
    background-color: white;
    margin-bottom: 15px;
    padding: 20px;
}

.tlou2 > .container {
    width: 1100px;
    margin: auto;
}

.tlou2 > .container > div {
    margin: 10px 20px;
    text-align: justify;
    align-content: center;
}

.tlou2 > .container > div > img {
    margin-bottom: 10px;
}

.tlou2 > .container > div > p {
    margin: 10px 0px;
}

.skyrim {
    background-color: white;
    margin-bottom: 0px;
    padding: 20px;
}

.skyrim > .container {
    width: 1100px;
    margin: auto;
}

.skyrim > .container > div {
    margin: 10px 20px;
    text-align: justify;
    align-content: center;
}

.skyrim > .container > div > img {
    margin-bottom: 10px;
}

.skyrim > .container > div > p {
    margin: 10px 0px;
}

/*Construção loja.html*/

.introducaoLoja {
    background-color: white;
    text-align: center;
    padding: 10px;
    padding-bottom: 0px;
}

.introducaoLoja h1 {
    font-size: 40px;
}

.introducaoLoja > nav {
    margin-top: 20px;
}

.introducaoLoja > nav > ul > li{
    display: inline-block;
    margin: 5px 90px
}

.introducaoLoja > nav > ul > li > a:link, a:visited{
    padding: 6px;
    padding-left: 50px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: 10px;
    transition: all 0.5s;
}

.consoleLoja {
    background-image: url(../img/computer_loja.png);
}

.consoleLoja:hover {
    color: white;
    background-image: url(../img/computer_loja_branco.png);
    background-color: #0070CC;
}

.jogoLoja {
    background-image: url(../img/joystick_cinza.png);
}

.jogoLoja:hover {
    color: white;
    background-image: url(../img/joystick_branco.png);
    background-color: #B856D2;
}

.acessorioLoja {
    background-image: url(../img/acessorio_cinza.png);
}

.acessorioLoja:hover {
    color: white;
    background-image: url(../img/acessorio_branco.png);
    background-color: #7B01C8;
}

.secaoConsole {
    background-color: white;
    margin: 10px 0px;
}

.secaoConsole > h2{
    padding: 20px;
    text-align: center;
}

.secaoConsole > .container {
    width: 1100px;
    margin: auto;
    text-align: center;
    justify-content: center;
}

.secaoConsole > .container > div {
    border: 1px solid black;
    border-radius: 15px;
    margin: 20px;
    padding: 20px;
}

.secaoConsole > .container > div > p {
    margin: 13px;
}

.btnCarrinho {
    border: 0.5px solid gainsboro;
    margin: 5px;
    padding: 8px 20px;
    padding-left: 40px;
    font-size: 17px;
    border-radius: 20px;
    background-image: url(../img/shopping_cart_cinza.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 10px center;
    color: #A9A9A9;
    transition: all 0.5s;
    background-color: white;
}

.btnCarrinho:hover {
    background-image: url(../img/shopping_cart_preto.png);
    color: black;
    transform: scale(106%);
    background-color: #F0F0F0;
    cursor: pointer;
}

.btnBuy {
    border: none;
    margin: 5px;
    padding: 8px 20px;
    border-radius: 20px;
    font-size: 17px;
    font-weight: bold;
    color: white;
    transition: all 0.5s;
    background-color: #0070CC;
}

.btnBuy:hover {
    transform: scale(106%);
    cursor: pointer;
}

.preco {
    font-size: 20px;
    font-weight: bold;
    color: #EA7F21;
}

.secaoJogos {
    background-color: white;
    margin: 10px 0px;
}

.secaoJogos > h2{
    padding: 20px;
    text-align: center;
}

.secaoJogos > .container {
    width: 1100px;
    margin: auto;
    text-align: center;
    justify-content: center;
}

.secaoJogos > .container > div {
    border: 1px solid black;
    border-radius: 15px;
    margin: 20px;
    padding: 20px;
}

.secaoJogos > .container > div > p {
    margin: 13px;
}

.secaoAcessorios {
    background-color: white;
    margin: 10px 0px;
    margin-bottom: 0px;
}

.secaoAcessorios > h2{
    padding: 20px;
    text-align: center;
}

.secaoAcessorios > .container {
    width: 1100px;
    margin: auto;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

.secaoAcessorios > .container > div {
    border: 1px solid black;
    border-radius: 15px;
    margin: 20px;
    padding: 20px;
}

.secaoAcessorios > .container > div > p {
    margin: 13px;
}
